# macOS
.DS_Store

# Angular
smartclinic-frontend/node_modules
smartclinic-frontend/dist
smartclinic-frontend/.angular
smartclinic-frontend/.cache

# Logs
npm-debug.log*
yarn-debug.log*

# Java / Spring
smartclinic-backend/target
smartclinic-backend/*.log

# IDE
.idea
.vscode

# Environment
.env