############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Angular / Node
############################
smartclinic-frontend/node_modules/
smartclinic-frontend/dist/
smartclinic-frontend/.angular/
smartclinic-frontend/.cache/
npm-debug.log*
yarn-debug.log*

############################
# Spring Boot / Java
############################
smartclinic-backend/target/
smartclinic-backend/*.log

############################
# IDE (STS / Eclipse / IntelliJ / VSCode)
############################
.project
.classpath
.settings/
.metadata/
.vscode/
.idea/

############################
# Environment
############################
.env
*.env
.env.*

############################
# Mac junk
############################
.DS_Store

############################
# Logs
############################
logs/
*.log